@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Spline';
	src: url('/SplineSansMono-Regular.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'Spline';
	src: url('/SplineSansMono-Italic.woff2') format('woff2');
	font-style: italic
}

@layer base {
	html,
	body {
		@apply text-black bg-yellow-300 h-screen;
		font-family: 'Spline', system-ui, sans-serif;
	}

	a {
		@apply text-purple-600;
	}
	a:hover {
		@apply underline;
	}

	* {
		box-sizing: border-box;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-xl;
	}

	h3 {
		@apply text-lg;
	}

	input {
		@apply accent-purple-600 caret-purple-700 rounded-md;
	}
}

@layer components {
	.btn {
		@apply border-2 border-purple-600 text-purple-600 accent-black p-2 rounded-lg;
	}

	.btn:hover {
		@apply bg-purple-600 text-purple-200;
	}
}
